.showItem {
    margin: auto;
    padding: 0;
}

.hideItem {
    display: none;
}

.toggleButton {
    
}

.answersButton {
    margin: 0, 10px;
}

.stepButton {
    margin:0, 10px;
}

.questionContainer {
    margin:0px;
}

.question {
    overflow: auto;
    height: 190px;
    border-radius: 10px 10px 0 0;
    margin: auto;
    padding: 30px;
    background-color: #ffd25b;
}

.question p {
    vertical-align: middle;
    text-align: center;
    font-size: 1.5rem;
}

.answers {
    border-radius: 0 0 10px 10px;
    margin: auto;
    padding: 30px;
    background-color: #ffc734;
    text-align: center;
}

.answersButtonsContainer {
    margin: auto;
    padding: 0 1rem;
    text-align: center;
    flex-wrap: wrap;
}

.answersButton {
    border-radius: 0.25rem !important;
    margin: 0.5rem;
}

.answered {
    background-color: #28a745;
    border-color: #28a745;
    color: black;
}

.navButton {
    width: 75px;
    margin: 0.5rem 0.25rem 0;
}

.indexButtonsContainer {
    margin: auto;
    margin-bottom: 2rem;
    padding: 0 1rem;
    text-align: center;
}

.indexButton {
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0;
    width: 32px;
    height: 32px;
    align-content: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
